In [22]:
from utils import MysqlConnector
conn = MysqlConnector()

In [23]:
conn.execute('CREATE DATABASE IF NOT EXISTS source;')
conn.execute('CREATE DATABASE IF NOT EXISTS dw;')

In [24]:
conn.execute('DROP TABLE IF EXISTS customer_dim;')
conn.execute('DROP TABLE IF EXISTS product_dim;')
conn.execute('DROP TABLE IF EXISTS date_dim;')
conn.execute('DROP TABLE IF EXISTS order_dim;')
conn.execute('DROP TABLE IF EXISTS sales_order_fact;')

In [25]:
conn.execute('''CREATE TABLE customer_dim (
    customer_sk INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    customer_number INT,
    customer_name CHAR(50),
    customer_street_address CHAR(50),
    customer_zip_code INT(5),
    customer_city CHAR(30),
    customer_state CHAR(2),
    effective_date DATE,
    expiry_date DATE
);''')

conn.execute('''CREATE TABLE product_dim (
    product_sk INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    product_code INT,
    product_name CHAR(30),
    product_category CHAR(30),
    effective_date DATE,
    expiry_date DATE
);''')

conn.execute('''CREATE TABLE order_dim (
    order_sk INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    order_number INT,
    effective_date DATE,
    expiry_date DATE
);''')

conn.execute('''CREATE TABLE date_dim (
    date_sk INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    date DATE,
    month_name CHAR(9),
    MONTH INT(1),
    quarter INT(1),
    year INT(4),
    effective_date DATE,
    expiry_date DATE
);''')

conn.execute('''CREATE TABLE sales_order_fact (
    order_sk INT,
    customer_sk INT,
    product_sk INT,
    order_date_sk INT,
    order_amount DECIMAL(10, 2)
);''')

In [26]:
conn.execute('''
INSERT INTO customer_dim 
( customer_sk 
, customer_number 
, customer_name 
, customer_street_address 
, customer_zip_code 
, customer_city 
, customer_state 
, effective_date 
, expiry_date )
VALUES 
  (NULL, 1, 'Big Customers', '7500 Louise Dr.', '17050', 'Mechanicsburg', 'PA', CURRENT_DATE, '9999-12-31')
, (NULL, 2, 'Small Stores', '2500 Woodland St.', '17055', 'Pittsburgh', 'PA', CURRENT_DATE, '9999-12-31')
, (NULL, 3, 'Medium Retailers', '1111 Ritter Rd.', '17055', 'Pittsburgh', 'PA',  CURRENT_DATE, '9999-12-31')
, (NULL, 4, 'Good Companies', '9500 Scott St.', '17050', 'Mechanicsburg', 'PA', CURRENT_DATE, '9999-12-31')
, (NULL, 5, 'Wonderful Shops', '3333 Rossmoyne Rd.', '17050', 'Mechanicsburg', 'PA', CURRENT_DATE, '9999-12-31')
, (NULL, 6, 'Loyal Clients', '7070 Ritter Rd.', '17055', 'Pittsburgh', 'PA', CURRENT_DATE, '9999-12-31')
, (NULL, 7, 'Loney Clients', '7071 Ritter Rd.', '17055', 'Pittsburgh', 'PA', CURRENT_DATE, '9999-12-31')
, (NULL, 8, 'Iron Mount', '70 Road Rd.', '11055', 'San Diego', 'CA', CURRENT_DATE, '9999-12-31')
, (NULL, 9, 'Mex Free', '1770 66 Rd.', '27055', 'Texas', 'TX', CURRENT_DATE, '9999-12-31')
, (NULL, 10,'Bracows', '120 Scott Av.', '17435', 'Pittsburgh', 'PA', CURRENT_DATE, '9999-12-31')
, (NULL, 11,'Big Deals', '500 Vendors St.', '17050', 'Mechanicsburg', 'PA', CURRENT_DATE, '9999-12-31')
, (NULL, 12,'Small Country', '100 Peter St.', '17055', 'Pittsburgh', 'PA', CURRENT_DATE, '9999-12-31')
, (NULL, 13,'Medium Golden', '11 Donavan Rd.', '17055', 'Pittsburgh', 'PA',  CURRENT_DATE, '9999-12-31')
, (NULL, 14,'Best Companies', '95 Tiger St.', '17050', 'Mechanicsburg', 'PA', CURRENT_DATE, '9999-12-31')
, (NULL, 15,'Computer Shops', '33 Rose Mary Av.', '17050', 'Mechanicsburg', 'PA', CURRENT_DATE, '9999-12-31')
, (NULL, 16,'Good Clients', '1701 Maroon St.', '17055', 'Pittsburgh', 'PA', CURRENT_DATE, '9999-12-31')
, (NULL, 17,'Only Deals', '71 Ritter Rd.', '17055', 'Pittsburgh', 'PA', CURRENT_DATE, '9999-12-31')
, (NULL, 18,'Apalache Mount', '7000 Road Rd.', '11055', 'San Diego', 'CA', CURRENT_DATE, '9999-12-31')
, (NULL, 19,'Mex Company', '470 66 Rd.', '27055', 'Texas', 'TX', CURRENT_DATE, '9999-12-31')
, (NULL, 20,'Brown Cows', '120 Deytona River Av.', '17435', 'Pittsburgh', 'PA', CURRENT_DATE, '9999-12-31');
''')

In [27]:
conn.fetch('SELECT * FROM customer_dim;')[:2]

[(1,
  1,
  'Big Customers',
  '7500 Louise Dr.',
  17050,
  'Mechanicsburg',
  'PA',
  datetime.date(2023, 8, 19),
  datetime.date(9999, 12, 31)),
 (2,
  2,
  'Small Stores',
  '2500 Woodland St.',
  17055,
  'Pittsburgh',
  'PA',
  datetime.date(2023, 8, 19),
  datetime.date(9999, 12, 31))]

In [28]:
len(conn.fetch('SELECT * FROM customer_dim;'))

20